<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cobaltix.internal_projects.swimtrackerapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SwimTrackerApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OverviewActivity"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="Create new event"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cobaltix.internal_projects.swimtrackerapp.MainActivity"/>
        </activity>
        <activity
            android:name=".DailyGoalsActivity"
            android:label="@string/title_activity_daily_goals"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cobaltix.internal_projects.swimtrackerapp.MainActivity"/>
        </activity>
        <activity
            android:name=".WeeklyGoalsActivity"
            android:label="@string/title_activity_weekly_goals"
            android:parentActivityName=".DailyGoalsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cobaltix.internal_projects.swimtrackerapp.DailyGoalsActivity"/>
        </activity>
        <!--<activity-->
            <!--android:name=".OverviewActivity"-->
            <!--android:label="@string/title_activity_overview"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
    </application>

</manifest>